<div
  class="min-h-screen flex flex-col items-center gap-3 justify-center bg-white text-neutral-800 dark:bg-slate-800 dark:text-slate-500 ">
  <h1 class="text-4xl font-bold">Primeng-Tailwindcss</h1>
  <p-button severity="secondary" (click)="setTheme()">
    @if (darkMode()) {
    <span class="material-symbols-rounded"> light_mode </span>

    } @else {
    <span class="material-symbols-rounded"> dark_mode </span>

    }
  </p-button>



  <a href="https://github.com/borjamrd/ng-primeng-tailwind" target="_blank"><span
      class="pi pi-github"></span>ng-primeng-tailwind</a>

  <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" placeholder="Select Cities" optionLabel="name"
    display="chip" [showClear]="true"></p-multiSelect>



  <router-outlet></router-outlet>

</div>